@model CooksCorner1._0.Models.RecipeModel



<div>
    <div class="row col-md-12 col-lg-12">

        <h2 class="col-sm-12 col-md-12 col-lg-12">@Html.DisplayFor(r => r.Title)</h2>
       
    </div>
    <div class="row col-md-12 col-lg-12">
        @if (Model.PrepTimeHours > 0)
        {
            <h4 class="pptextRight col-sm-4 col-md-4 col-lg-4">Prep time is:@Html.DisplayFor(r => r.PrepTimeHours) Hours @Html.DisplayFor(r => r.PrepTimeMins) minutes</h4>
        }
        @if (Model.PrepTimeHours == 0)
        {
            <h4 class="pptextRight col-sm-4 col-md-4 col-lg-4">Prep time is: @Html.DisplayFor(r => r.PrepTimeMins) minutes</h4>
        }

        @if (Model.CookingTimeHours > 0)
        {
            <h4 class="PPtext-center col-sm-5 col-md-5 col-lg-5">Cooking time is: @Html.DisplayFor(m => m.CookingTimeMins) Minutes </h4>
        }

        @if (Model.CookingTimeHours == 0)
        {

            <h4 class="PPtext-center col-sm-5 col-md-5 col-lg-5">Cooking time is: @Html.DisplayFor(m => m.CookingTimeMins) Minutes </h4>
        }
        <h4 class="pptextRight col-sm-offset-2 col-md-offset-2 col-lg-offset-2"> Dicculty rating is @Html.DisplayFor(r => r.Difficulty.Diffculty)</h4>
</div>


    <div class="col-lg-3 col-md-3">

        @if (Model.Images.Any(f => f.FileType == CooksCorner1._0.Models.FileType.foodImage))
        {
            <div class="col-md-3 col-lg-2">
                <img src="~/File?id=@Model.Images.First(f => f.FileType == CooksCorner1._0.Models.FileType.foodImage).FileId" alt="Recipe Image" width="196" />

            </div>
        }
        
        @if (Model.Images == null)
        {
            <div></div>
        }
        

    </div>
    <div>
        @Html.DisplayFor(m => m.Blurb)


    </div>

</div>